hr{
    border-color: grey;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    height: 0;
    width: 5%;
}
body{
    background-color: rgb(240, 255, 255);
}
h1{
    color: #66BFBF;
}
h3{
    color: #66BFBF;
}